.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 400;
    color: rgb(189, 14, 14);
    border: 2px solid rgb(189, 14, 14);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(189, 14, 14);
}