.options{
    display: flex;
}

.option__button {
    padding: 10px;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(40, 57, 77);
    transform: scale(1);
    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option__button:not(:last-child) {
    margin-right: 60px;
}

.option__button:hover,
.option__button:focus {
    transform: scale(1.1);
}
